[Unit]
Description={{ service-name }}
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ user }}
{{#environment}}
Environment={{key}}={{value}}
{{/environment}}
ExecStart={{ app-binary }}

[Install]
WantedBy=multi-user.target
